@import "./utils/_reset.scss";
@import "./utils/_variables.scss";
@import "./utils/_media-variables.scss";
@import "./utils/_fonts.scss";

.wrapper{
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.regular{
	font-weight: 400;
}

.medium{
  font-weight: 500;
}

.semi-bold{
  font-weight: 600;
}

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent url("../img/select-arrow.svg") no-repeat right 0px center;
	cursor: pointer;
}

@media screen and (max-width: $laptop+1) {
	
}

@media screen and (max-width: $tablet) {
  
}