<div id="blur"></div>


<nav id="burger" data-popup>
  <button class="catalogue-open body-4 gray" data-popupTrigger="#catalogue" data-customOpenFunction = "createCatalogueClosebtn">
  Catalogue
  </button>
  <div class="burger-content">
  <ul>
    <li><a href="./catalogue-new.html" class="body-4 gray">New items</a></li>
    <li><a href="./catalogue-sales.html" class="body-4 gray">Sale</a></li>
  </ul>
  <ul>
    <li><a href="./about-us.html" class="body-4 gray">About us</a></li>
    <li><a href="./brands.html" class="body-4 gray">Brand list</a></li>
    <li><a href="./delivery.html" class="body-4 gray">Delivery&Payment</a></li>
    <li><a href="./guarantees.html" class="body-4 gray">Guarentees</a></li>
    <li><a href="./exchange.html" class="body-4 gray">Exchange / return</a></li>
    <li><a href="./news.html" class="body-4 gray">News</a></li>
    <li><a href="./articles.html" class="body-4 gray">Articles</a></li>
    <li><a href="./contact-us.html" class="body-4 gray">Contacts</a></li>
  </ul>
  <ul>
    <li><button class="body-4 gray" data-popupTrigger="#favorites">Favorites</button></li>
    <li><button class="body-4 gray" data-popupTrigger="#authorization">Supplier access</button></li>
  </ul>
  </div>
</nav>